<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="", method ="POST">
        <h2 align="center", method = POST>Меню отчетов</h2>
        <center>
            Введите год:
            <input type="number" name = Byear placeholder = Год><br><br>
            Введите месяц:
            <input type="number" name = Bmonth placeholder = Месяц><br><br>
            Введите имя врача:
            <input type="text" name = Dname placeholder = "Имя врача"><br><br>

<!--            Введите месяц:
            <input type="number" name = input_month placeholder = month><br><br>  -->

            <input type="submit" value="Создать">
            <br><br><br>


            <a href={{url_for('bp_query.start_query')}}> Вернуться в главное меню</a>
        </center>
    </form>

</body>
</html>