<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work with requests</title>
</head>
<body>

    <h4 align = center> Вы зашли как пациент </h4>
<br>
            <div align = center>
    <a href = {{url_for('bp_auth.start_auth')}}> Авторизация</a>
            <br><br><br>
    <a href = {{url_for('bp_report.timetable')}}>Расписание врачей</a>
            <br><br><br>
    <a href = {{url_for('bp_order.order_index')}}>Запись к врачу</a>
            <br><br><br>
            <a href ={{url_for('exit_func')}}> Завершить</a>
            </div>
</body>
</html>